@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5256ad;
    min-height: 100vh;
}

::selection {
    color: #fff;
    background-color: #5256ad;
}

.wrapper {
    width: 370px;
    padding: 25px 30px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.wrapper header {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.wrapper form {
    margin: 35px 0 20px;
}

form .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form .row label {
    font-size: 18px;
    margin-bottom: 5px;
}

/* The :nth-last-child() CSS pseudo-class matches elements based on their 
position among a group of siblings, counting from the end. */

/* The :nth-child() CSS pseudo-class matches elements based on their position 
among a group of siblings. */

form .row:nth-child(2) label{
    font-size: 17px;
}

/*selecting multiple elements using where selector*/

/*The :where() CSS pseudo-class function takes a selector list as its argument, and
 selects any element that can be selected by one of the selectors in that list.*/

form :where(textarea, select, button) {
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
}

form .row textarea {
    resize: none;
    height: 110px;
    font-size: 15px;
    padding: 8px 10px;
    border: 1px solid #999;
}

form .row textarea::-webkit-scrollbar {
    width: 0px;
}

form .row .outer {
    height: 47px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #999;
}

form .row select {
    font-size: 14px;
    background: none;
}

/* ::-webkit-scrollbar-thumb — the draggable scrolling handle.
::-webkit-scrollbar-track — the track (progress bar) of the scrollbar, where there is a gray 
bar on top of a white bar. */

form .row select::-webkit-scrollbar {
    width: 8px;
}

form .row select::-webkit-scrollbar-track {
    background: #fff;
}

form .row select::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 8px;
    border-right: 2px solid #fff;
}

form button {
    height: 52px;
    color: white;
    background-color: #675afe;
    font-size: 17px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease;
}

form button:hover {
    background-color: #4534fe;
}


/* media query for the wrapper width when the browser
width is >= 400px */

@media(max-width : 400px){
    .wrapper {
        max-width: 345px;
        width: 100%;
    }
}